.careers-container {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.careers-container p {
  font-size: 1.5rem;
  line-height: 30px;
  padding: 0 1.5rem;
  margin: 0;
  color: #000;
  margin-bottom: 1.5rem;
}

.careers-container a {
  text-align: center;
}
.careers-container a:hover {
  background-color: #ff5733;
  transition: all 0.8s ease-in-out;
}

.main-career-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 3rem;
}

.career-box {
  background-color: darkblue; /* Base color for the box */
  color: white;
  padding: 30px 0;
  height: fit-content;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.3s ease;
}

.career-box p {
  color: white;
  font-size: 1.5rem;
  line-height: 30px;
  margin: 0;
  padding: 0 1.5rem;
}

.career-box:hover {
  background-color: #ff5733;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 900px) {
  .main-career-box {
    display: flex;
    flex-direction: column;
  }
}


@media (max-width: 600px) {
  .careers-container {
    padding: 10px;
  }

  .career-box {
    padding: 15px;
  }

  .careers-container p {
    font-size: 1rem;
    line-height: 30px;
    padding: 0 1.5rem;
    margin: 0;
    color: #000;
    margin-bottom: 1.5rem;
  }

  .career-box p {
    color: white;
    font-size: 1rem;
    line-height: 30px;
    margin: 0;
    padding: 0 1.5rem;
  }
}
