.service_section {
  height: fit-content;
  display: flex;
  justify-content: center;
}

.service-container {
  margin-bottom: 4rem;
}

.service h1,
h2 {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
  /* color: red; */
  color: #e97132;
  text-transform: uppercase;
}
.service_card {
  width: 70%;
  background-color: whitesmoke;
  margin: 15px;
  border-radius: 10px;
  display: flex;
  min-height: 120px;
  justify-content: space-between;
}
.service_img {
  width: 20%;
  display: flex;

  justify-content: center;
  align-items: center;
}
.service_img .bi {
  font-size: 70px;
}
.service_sub_heading {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service_sub_heading h5 {
  font-size: 20px;
  font-weight: 600;
}
.service_content {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.service_content p {
  margin: 0;
  font-size: 15px;
  color: black;
}

@media (max-width: 768px) {
  .service_card {
    width: 80%;
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .service_sub_heading {
    width: 100%;
  }
  .service_content {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .service_card {
    width: 100%;
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .service_sub_heading {
    width: 100%;
  }
  .service_content {
    width: 100%;
  }
}
